
@font-face {
  font-family: 'Channel';
  src: url('Channel.eot?#iefix') format('embedded-opentype'),  url('Channel.woff') format('woff'), url('Channel.ttf')  format('truetype'), url('Channel.svg#Channel') format('svg');
  font-weight: normal;
  font-style: normal;
}
